// -----------------------------------------------------------------------------
// This file contains all content styles.
// -----------------------------------------------------------------------------

section{
    padding: 7rem 0;

    &.banner {
        padding: 2rem 0 7rem; 
        position: relative;

        @media (min-width: 768px) and (min-height: 550px) {
            height: 100vh;
        }

        @media (max-width: 767px) and (min-height: 800px) {
            height: 100vh;
        }

        &::before, &::after{
            position: absolute;
            content: '';
            background-image: url('../../../dist/fe/assets/images/ilus.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 40%;
            width: 100%;
            z-index: -1;
        }

        &::before{
            top: -560px;
            right: -560px;
            transform: rotate(170deg);
        }

        &::after{
            bottom: -600px;
            left: -800px;
            transform: rotate(180deg);
        }

        .container {
            position: relative; 

            @media (min-width: 768px) and (min-height: 550px) {
                height: 100vh; 
            }

            @media (max-width: 767px) and (min-height: 800px) {
                height: 100vh;
            }

            .content-banner{
                @media (max-width: 767px) and (min-height: 800px) {
                    position: absolute;
                    transform: translate(0, -50%);
                    top: 55%;
                    width: 100%;
                }

                @media (max-width: 767px) and (min-height: 800px) and (max-width: 767px) {
                    width: calc(100% - 30px);
                }

                @media (min-width: 768px) and (min-height: 550px) {
                    position: absolute;
                    transform: translate(0, -50%);
                    top: 55%;
                    width: 100%;
                }

                @media (min-width: 768px) and (min-height: 550px) and (max-width: 767px) {
                    width: calc(100% - 30px);
                }
            }
        }

        .imgs-ban {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding-top: 100%; 
        }

        .header-menu {
            .--sosmed {
                .icons {
                    width: 15px; 
                }
            }
        }
    }

    &.timeline-journey {
        padding: 0; 
        position: relative;

        .head-journey-slides {
            background-image: url("../../../dist/fe/assets/images/kotak.png");
            background-position: center;
            background-size: contain;
            padding: 5rem 0; 

            .ct-head {
                width: calc(100% - 200px); 

                @include respond-max(lg-tablet) {
                    width: 100%;
                }
            }

            .slick-arrow{
                background-color: transparent;
                border: 1px solid $white;
                transition: all .3s ease-in-out;
                width: 70px;
                height: 70px;
                &::before{
                    content: '';
                    background-image: url('../../../dist/fe/assets/images/ic_arrow_left.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-top: 20%;
                    display: block;
                }

                @include on-event{
                    background-color: $white;
                    border-color: transparent;
                }

                &.slick-prev{
                    left: -80px;
                    @include on-event{
                        background-color: $white;
                        border-color: transparent;
                        &::before{
                            transform: rotate(180deg) !important;
                            background-image: url('../../../dist/fe/assets/images/ic_arrow-right.png');
                        }
                    }
                }

                &.slick-next{
                    right: -80px;
                    @include on-event{
                        background-color: $white;
                        border-color: transparent;
                        &::before{
                            transform: rotate(0) !important;
                            background-image: url('../../../dist/fe/assets/images/ic_arrow-right.png');
                        }
                    }
                    &::before{
                        transform: rotate(180deg) !important;
                    }
                }
            }
        }

        .sec-journey{
            margin-top: -25px;

            .jrny-slick{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 25px;
                    left: 0;
                    width: 100%;
                    height: 1.8px;
                    background-color: #b5b5b5;
                    z-index: -1;
                }
    
                .slider-nav-journey{
                    position: relative;
    
                    &::before, &::after{
                        content: '';
                        position: absolute;
                        top: 11.7px;
                        width: 1.3px;
                        height: 28px;
                        background-color: #b5b5b5;
                    }
    
                    &::before{
                        left: 0;
                    }
    
                    &::after{
                        right: -1px;
                    }
    
                    .slick-list{
                        margin: 0 50px;
                        padding: 60px 0;
                        position: relative;
    
                        .slick-track{
                            .slick-slide{
                                &.slick-current{
                                    &.slick-active{
                                        .slides-dots--sc{
                                            .big-dots--sc{
                                                .smll-dots{
                                                    display: block;
                                                    position: relative;

                                                    &::before{
                                                        position: absolute;
                                                        content: '';
                                                        transform: translateX(-50%);
                                                        top: -18px;
                                                        left: 50%;
                                                        width: 45px;
                                                        height: 45px;
                                                        border-radius: 100px;
                                                        border: 1.2px solid $white;
                                                        background-color: transparent;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .slides-dots--sc{
                                    text-align: center;
                                    position: relative;
    
                                    .big-dots--sc{
                                        position: absolute;
                                        transform: translateX(-50%);
                                        top: -40px;
                                        left: 50%;
                                        height: 10px;
                                        width: 10px;
                                        border-radius: 100%;
                                        background-color: $white;
                                        
                                        .smll-dots{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .slider-for-journey{
                    .slick-list{
                        margin: 0 50px;
                        padding: 30px 0 100px;
                        position: relative;
                    }
                }
            }
        }
    }

    &.wcprv {
        background-image: url("../../../dist/fe/assets/images/kotak.png");
        background-position: center;
        background-size: contain; 

        .img-icons {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 120px; 
        }
    }

    &.wwcndo{
        background-color: #3a3939;
        .content-slick{
            .autoplay-slick{
                @include respond-max(lg-tablet) {
                    margin-top: 5rem;
                }

                .slick-list {
                    padding-right: 10%; 

                    @include respond-max(lg-tablet) {
                        padding-right: 0;
                    }

                    .slick-track {
                        .slick-slide {
                            transition: all 1.2s ease-in-out;
                            margin: 2rem 1.5rem;
                            margin-left: 0;
                            padding: 55px 40px;
                            cursor: pointer; 

                            @include respond-max(md-dekstop) {
                                margin: 1rem;
                                margin-left: 0;
                                padding: 55px 30px;
                            }

                            @include respond-max(lg-tablet) {
                                margin: 1rem 0;
                            }

                            &.slick-current{
                                &.slick-active {
                                    background-color: #ffffff;
                                    box-shadow: 0px 0px 30px 0px #2b2929; 

                                    h3, p{
                                        color: #312f2f;
                                    }
                                }
                            }
                        }
                    }
                }

                button{
                    &.slick-arrow {
                        transform: translate(-50%, -50%);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: auto;
                        padding: 34px;
                        background-color: transparent;
                        border: 1px solid #b5b5b5;
                        background-image: url("../../../dist/fe/assets/images/ic_arrow_left.png"); 

                        &::before {
                            content: ''; 
                        }

                        @include on-event{
                            transform: rotate(0);
                            background-color: #ffffff;
                            border: 1px solid #b5b5b5;
                            box-shadow: 0px 10px 10px 0px #2b2929;
                            background-image: url("../../../dist/fe/assets/images/ic_arrow-right.png");
                        }

                        @include respond-max(lg-tablet) {
                            top: -10%;
                            padding: 20px 36px;
                        }
                    }

                    &.slick-prev {
                        left: unset;
                        top: -30%;
                        right: 60px; 

                        @include on-event{
                            right: 8.5%;
                            top: -41%;
                            transform: rotate(180deg);

                            @include respond-max(md-dekstop) {
                                right: 14%;
                                top: -43%;
                            }
                        }

                        @include respond-max(lg-tablet) {
                            right: unset;
                            left: 38px;
                            top: -25px;

                            @include on-event{
                                right: unset;
                                top: -45px;
                                left: 0;
                            }
                        }
                    }

                    &.slick-next {
                        left: unset;
                        top: -41%;
                        right: 0;
                        transform: rotate(180deg); 

                        @include respond-max(md-dekstop) {
                            top: -43%;
                        }

                        @include respond-max(lg-tablet) {
                            right: unset;
                            left: 90px;
                            top: -45px;
                        }
                    }
                }
            }
        }
    }

    &.lkfor{
        background-color: #312f2f;

        .--right {
            margin: auto;
            padding-left: 70px; 

            @include respond-max(md-dekstop) {
                padding-left: 15px;
            }

            @include respond-max(lg-tablet) {
                margin: 1.5rem 0;
            }
        }
    }
}