// -----------------------------------------------------------------------------
// This file contains all content styles.
// -----------------------------------------------------------------------------

section{
    padding: 7rem 0;
    @include respond-max(sm-tablet) {
        padding: 5rem 0;
    }

    &.banner {
        padding: 3rem 0; 

        .sec-banner {
            position: relative; 
            height: 100vh;
            display: grid;
            @include respond-max(lg-tablet) {
                height: 100%;
            }

            &::before, &::after{
                position: absolute;
                content: '';
                background-image: url('../../../dist/fe/assets/images/ilus.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding-top: 60%;
                width: 100%;
                z-index: -1;
            }

            &::before{
                top: -450px;
                right: -700px;
            }

            &::after{
                bottom: -500px;
                left: -800px;
            }

            .content-banner{
                width: 100%;
            }
        }

        .imgs-ban {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding-top: 100%; 
        }

        .header-menu {
            .--sosmed {
                .icons {
                    width: 15px; 
                }
            }
        }
    }

    &.wcprv {
        background-image: url("../../../dist/fe/assets/images/kotak.png");
        background-position: center;
        background-size: contain; 

        .img-icons {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 120px; 
        }
    }

    &.wwcndo{
        background-color: #3a3939;
        .content-slick{
            .autoplay-slick{
                @include respond-max(lg-tablet) {
                    margin-top: 5rem;
                }

                .slick-list {
                    padding-right: 10%; 

                    @include respond-max(lg-tablet) {
                        padding-right: 0;
                    }

                    .slick-track {
                        .slick-slide {
                            transition: all 1.2s ease-in-out;
                            margin: 2rem 1.5rem;
                            margin-left: 0;
                            padding: 55px 40px;
                            cursor: pointer; 

                            @include respond-max(md-dekstop) {
                                margin: 1rem;
                                margin-left: 0;
                                padding: 55px 30px;
                            }

                            @include respond-max(lg-tablet) {
                                margin: 1rem 0;
                            }

                            &.slick-current{
                                &.slick-active {
                                    background-color: #ffffff;
                                    box-shadow: 0px 0px 30px 0px #2b2929; 

                                    h3, p{
                                        color: #312f2f;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.timeline-journey {
        padding: 0; 

        .head-journey-slides {
            background-image: url("../../../dist/fe/assets/images/kotak.png");
            background-position: center;
            background-size: contain;
            padding: 7rem 0;
            @include respond-max(sm-tablet) {
                padding: 5rem 0;
            }
        }

        .sec-journey{
            margin-top: -25px;

            .jrny-slick{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 25px;
                    left: 0;
                    width: 100%;
                    height: 1.8px;
                    background-color: #b5b5b5;
                    z-index: -1;
                }
    
                .slider-nav-journey{
                    position: relative;
    
                    &::before, &::after{
                        content: '';
                        position: absolute;
                        top: 11.7px;
                        width: 1.3px;
                        height: 28px;
                        background-color: #b5b5b5;
                    }
    
                    &::before{
                        left: 0;
                    }
    
                    &::after{
                        right: -1px;
                    }
    
                    .slick-list{
                        margin: 0 50px;
                        padding: 60px 0;
                        position: relative;
                        @include respond-max(sm-tablet) {
                            margin: 0 20px;
                            padding-bottom: 30px;
                        }
    
                        .slick-track{
                            .slick-slide{
                                &.slick-current{
                                    &.slick-active{
                                        .slides-dots--sc{
                                            .big-dots--sc{
                                                .smll-dots{
                                                    display: block;
                                                    position: relative;

                                                    &::before{
                                                        position: absolute;
                                                        content: '';
                                                        transform: translateX(-50%);
                                                        top: -18px;
                                                        left: 50%;
                                                        width: 45px;
                                                        height: 45px;
                                                        border-radius: 100px;
                                                        border: 1.2px solid $white;
                                                        background-color: transparent;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .slides-dots--sc{
                                    text-align: center;
                                    position: relative;
    
                                    .big-dots--sc{
                                        position: absolute;
                                        transform: translateX(-50%);
                                        top: -40px;
                                        left: 50%;
                                        height: 10px;
                                        width: 10px;
                                        border-radius: 100%;
                                        background-color: $white;
                                        
                                        .smll-dots{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .slider-for-journey{
                    .slick-list{
                        margin: 0 50px;
                        padding: 30px 0 100px;
                        position: relative;
                        @include respond-max(sm-tablet) {
                            margin: 0 20px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
        }
    }

    &.lkfor{
        background-color: #312f2f;

        .--right {
            margin: auto;
            padding-left: 70px; 

            @include respond-max(md-dekstop) {
                padding-left: 15px;
            }

            @include respond-max(lg-tablet) {
                margin: 1.5rem 0;
            }
        }
    }

    .arrw-banient {
        .slick-arrow{
            background-color: transparent;
            border: 1px solid $white;
            transition: all .3s ease-in-out;
            width: 70px;
            height: 70px;
            @include respond-max(lg-tablet) {
                width: 50px;
                height: 50px;
            }
            &::before{
                content: '';
                background-image: url('../../../dist/fe/assets/images/ic_arrow_left.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding-top: 20%;
                display: block;
            }

            @include on-event{
                background-color: $white;
                border-color: transparent;
            }

            &.slick-prev{
                left: -160px;
                @include respond-max(lg-tablet) {
                    left: -120px;
                }
                @include respond-max(sm-tablet) {
                    left: 0;
                }
                @include on-event{
                    background-color: $white;
                    border-color: transparent;
                    &::before{
                        transform: rotate(180deg) !important;
                        background-image: url('../../../dist/fe/assets/images/ic_arrow-right.png');
                    }
                }
            }

            &.slick-next{
                right: 0;
                @include respond-max(sm-tablet) {
                    right: -120px;
                }
                @include on-event{
                    background-color: $white;
                    border-color: transparent;
                    &::before{
                        transform: rotate(0) !important;
                        background-image: url('../../../dist/fe/assets/images/ic_arrow-right.png');
                    }
                }
                &::before{
                    transform: rotate(180deg) !important;
                }
            }
        }
    }
}