// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------

// Fontawesome
// @import '@fortawesome/fontawesome-free/scss/brands';
// @import '@fortawesome/fontawesome-free/scss/fontawesome';
// @import '@fortawesome/fontawesome-free/scss/solid';

@font-face {
    font-family: gilroy_reg;
    src: url('../../../dist/fe/assets/fonts/Gilroy/Gilroy-Regular.otf');
    font-style: normal;
    font-display: swap;
}
