// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------

@font-face {
    font-family: gilroy_reg;
    src: url('../../../dist/fe/assets/fonts/Gilroy/Gilroy-Regular.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: gilroy_semb;
    src: url('../../../dist/fe/assets/fonts/Gilroy/Gilroy-Semibold.otf');
    font-style: normal;
    font-display: swap;
}