// -----------------------------------------------------------------------------
// This file contains all colors styles.
// -----------------------------------------------------------------------------

///start : main brand color

//main colors
$black: #000000;
$white: #ffffff;

//main background

//text color


// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
//  ../../../dist/fe/assets/images/ic_arrow-right.png
    'lg-laptop': 1400px,
    'lg-dekstop': 1199px,
    'mid-md-dekstop': 992px,
    'md-dekstop': 991px,
    'mid-lg-tablet': 768px,
    'lg-tablet': 767px,
    'mid-sm-tablet': 576px,
    'sm-tablet': 575px,
    'mid-lg-mobile': 425px,
    'lg-mobile': 424px
) !default;
