// -----------------------------------------------------------------------------
// This file contains all grid styles.
// -----------------------------------------------------------------------------

.grid_layouts {
    display: grid;
    align-items: center;

    &.--headers {
        grid-template-columns: repeat(2, minmax(1px, 0.5fr));
        grid-gap: 20px;
        margin-bottom: 3rem; 
    }

    &.--sosmed {
        grid-template-columns: repeat(3, minmax(1px, 10px));
        grid-gap: 30px;
        margin-left: auto; 

        @include respond-max(sm-tablet) {
            grid-gap: 10px;
        }
    }

    &.--btn {
        grid-template-columns: repeat(2, minmax(1px, 220px));
        grid-gap: 35px; 

        @include respond-max(lg-tablet) {
            grid-gap: 20px;
        }
    }

    &.--img-icons {
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        grid-gap: 30px; 

        @include respond-max(lg-tablet) {
            margin-top: 3rem;
        }
    }

    &.--img-miles {
        grid-template-columns: minmax(1px, 50px) minmax(1px, auto);
        grid-gap: 10px; 
    }

    &.gr-jrny{
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        grid-gap: 10px; 

        .mn-right{
            margin-left: auto;
            position: relative;
        }
    }
}
