// -----------------------------------------------------------------------------
// This file contains all slick slider styles.
// -----------------------------------------------------------------------------

#slider {
    .slider-nav-journey{
        margin-top: -50px;

        .slick-list {
            .slick-track{
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    border: 2px solid #ffffff;
                }

                .slick-slide{
                    &.slick-current{
                        &.slick-active {
                            .slides-dots--sc {
                                position: relative;
                                text-align: center;
                                padding: 80px 10px 10px;
                                margin-top: 50px;

                                &::before {
                                    position: absolute;
                                    transform: translateX(-50%);
                                    left: 50%;
                                    top: 0;
                                    content: '';
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 100px;
                                    background-color: #ffffff;
                                }

                                .big-dots--sc{
                                    &::before {
                                        position: absolute;
                                        transform: translateX(-50%);
                                        left: 50%;
                                        top: -110px;
                                        content: '';
                                        width: 70px;
                                        height: 70px;
                                        border-radius: 100px;
                                        background-color: #ffffff0f;
                                        border: 2px solid #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}