// -----------------------------------------------------------------------------
// This file contains all typography style.
// -----------------------------------------------------------------------------

.f-brandonText_reg {
    font-family: "brandonText_reg", sans-serif !important;
}

.f-brandonText_light {
    font-family: "brandonText_light", sans-serif !important;
}

.f-brandonText_medium {
    font-family: "brandonText_medium", sans-serif !important;
}

.head-ct-slider{
    display: grid;
    grid-template-columns: minmax(1px, auto) minmax(1px, 80px);
    grid-gap: 0 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    
    @include respond-max(sm-tablet) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .head-ttle {
        h3 {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.14em;
            font-family: "brandonText_reg", sans-serif !important;

            @include respond-max(lg-tablet) {
                font-size: 19px;
            }

            @include respond-max(lg-mobile) {
                font-size: 18px;
            }
        }
    }

    .head-btn {
        text-align: right;
        a {
            font-size: 15px;
            line-height: 1.75;
            &.--pnk{
                color: $fourth-pink;
                @include on-event{
                    color: $black !important;
                }
            }

            &.--blck{
                color: $black;
                @include on-event{
                    color: $fourth-pink !important;
                }
            }
        }
    }
}

.desc-main-text-lg {
    font-size: 22px !important;
    line-height: 28px;

    @include respond-max(lg-tablet) {
        font-size: 21px !important;
    }

    @include respond-max(sm-tablet) {
        font-size: 20px !important;
    }
}

.desc-main-text {
    font-size: 20px !important;
    line-height: 28px;

    @include respond-max(lg-tablet) {
        font-size: 19px !important;
    }

    @include respond-max(sm-tablet) {
        font-size: 18px !important;
    }
}

.main-text{
    font-size: 18px !important;
    @include respond-max(lg-tablet) {
        font-size: 17px !important;
    }
    @include respond-max(sm-tablet) {
        font-size: 16px !important;
    }
}

.main-sub-text-mid{
    font-size: 17px !important;
    @include respond-max(lg-tablet) {
        font-size: 16px !important;
    }
    @include respond-max(sm-tablet) {
        font-size: 15px !important;
    }
}

.main-sub-text{
    font-size: 16px !important;
    @include respond-max(lg-tablet) {
        font-size: 15px !important;
    }
    @include respond-max(sm-tablet) {
        font-size: 14px !important;
    }
}

.mid-main-sub-text{
    font-size: 15.3px !important;
    @include respond-max(lg-tablet) {
        font-size: 14.3px !important;
    }
    @include respond-max(sm-tablet) {
        font-size: 13.3px !important;
    }
}

.med-small-fnt {
    font-size: 15px !important;
}

.mn-small-fnt {
    font-size: 14px !important;
}

.small-fnt {
    font-size: 13px !important;
}

.txt-ttle-slider{
    letter-spacing: 0.14em;
    font-weight: normal !important;
    text-transform: uppercase;
}

.text-white {
    color: $white;
}

.text-black {
    color: $black !important;
}

.clr-gold{
    color: $gold;
}

.clr-gry{
    color: $gray;
}

.clr-light-gry{
    color: $grey-txt;
}

.clr-blck{
    color: $black;
}

.clr-pink{
    color: $primary-pink;
}

.clr-blue{
    color: $blue !important;
}

.clr-lght-gsh {
    color: $lght-gsh;
}

.clr-txt-grey{
    color: $txt-grey;
}

.clr-sc-light-grey{
    color: $grey;
}

.clr-warn{
    color: #EB5757;
}

.clr-send {
    color: #F2994A;
}

.clr-done {
    color: #27AE60;
}

.clr-cancel {
    color: #828282;
}

.ltr-spc{
    letter-spacing: 0.14em;
}